certifi==2017.7.27.1
chardet==3.0.4
ecdsa==0.13
idna==2.5
json-rpc==1.10.8
m3-cdecimal==2.3
pycrypto==2.6.1
PyYAML==3.12
redis==2.10.6
requests==2.18.2
simplejson==3.12.0
simplekv==0.11.4
tabulate==0.8.1
urllib3==1.22
Werkzeug==0.12.2
