<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('.static', filename='img/apple-icon.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('.static', filename='img/favicon.png') }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Halocoin Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{{ url_for('.static', filename='css/material-dashboard.css') }}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ url_for('.static', filename='css/demo.css') }}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="{{ url_for('.static', filename='img/sidebar-1.jpg') }}">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="http://alkanlab.org" class="simple-text">
                    Halocoin
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="{{ url_for('dashboard') }}">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('block_explorer') }}">
                            <i class="material-icons">explore</i>
                            <p>Block Explorer</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">dashboard</i>
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="hidden-lg hidden-md">Notifications</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Mike John responded to your email</a>
                                    </li>
                                    <li>
                                        <a href="#">You have 5 new tasks</a>
                                    </li>
                                    <li>
                                        <a href="#">You're now friend with Andrew</a>
                                    </li>
                                    <li>
                                        <a href="#">Another Notification</a>
                                    </li>
                                    <li>
                                        <a href="#">Another One</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Block Table</h4>
                                    <p class="category">You can explore different range of blocks here.</p>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table" stlye="table-layout: fixed;">
                                        <thead class="text-primary">
                                            <th style="width:20%">Height</th>
                                            <th style="width:20%">Timestamp</th>
                                            <th style="width:20%">Transactions</th>
                                            <th style="width:40%">Mined By</th>
                                        </thead>
                                        <tbody id="block-table">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="{{ url_for('.static', filename='js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('.static', filename='js/jquery.dotdotdot.js') }}" type="text/javascript"></script>
<script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('.static', filename='js/material.min.js') }}" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="{{ url_for('.static', filename='js/chartist.min.js') }}"></script>
<!--  Dynamic Elements plugin -->
<script src="{{ url_for('.static', filename='js/arrive.min.js') }}"></script>
<!--  PerfectScrollbar Library -->
<script src="{{ url_for('.static', filename='js/perfect-scrollbar.jquery.min.js') }}"></script>
<!--  Notifications Plugin    -->
<script src="{{ url_for('.static', filename='js/bootstrap-notify.js') }}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Material Dashboard javascript methods -->
<script src="{{ url_for('.static', filename='js/material-dashboard.js') }}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ url_for('.static', filename='js/demo.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.get("/block", function(data) {
            data.blocks.forEach(function(block){
                datetime = timestampToDatetime(block.time);
                $("#block-table").append("<tr><td>" + block.length +
                    "</td><td>" + datetime + "</td><td><b>" + block.txs.length +
                    "</b></td><td>" + block.miner + "</td></tr>");
            });
        });
    });
</script>

</html>